html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 80px;
}

header {
    background-color: #c3c3c3;
    padding: 10px;
}

header p {
    font-size: 28px;
    margin: 5px;
}

header ul {
    margin-top: 20px;
    padding: 5px;
}

header li {
    display: inline;
    list-style: none;
    margin-right: 20px;
    padding: 5px;
    background-color: #434343;
}

header li a {
    color: #e7e7e7;
}

section {
    margin: 10px;
    width: 65%;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    border-top: 1px solid #b5b5b5;
    padding: 10px;
    font-size: 13px;
}

a {
    color: #4f6e9f;
    text-decoration: none;
}

a:hover,
a:active {
    color: #4f6e9f;
    text-decoration: underline;
}